@import "utils/__mixins", "utils/__variables";
@import "base/__fonts","base/__standars";
@import "components/__maps","components/__btn";
@import "layouts/__header","layouts/__about", "layouts/__functioning","layouts/__restaurants","layouts/__footer",
 "layouts/__header_pages","layouts/__menu","layouts/__meals";



@media screen and (min-width: 1020px) {
    .desktop-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        header {
            margin-left: 5%;
        }
    }
    .maps {
        background-color: white;
        box-shadow: none;
        margin-right: 5%;
        font-size: x-large;
        padding: 2% 0 2% 0;
        input {
            background-color: white;
            font-size: large;
            width: 150px;
        }
    }
    .about__content {
        text-align: inherit;
        padding-left: 5%;
        width: auto;
        h2 {
            font-size: xx-large;
        }
        p {
            font-size: larger;
            padding-bottom: 1%;
        }
        a {
            margin-top: 10px;
            font-size: larger;
        }
    }
    .functioning {
        h3 {
            margin-left: 5%;
            margin-bottom: 3%;
            font-size: x-large;
        }
        ul {
            display: flex;
            justify-content: space-around;
        }
        li {
            padding-right: 3%;
        }
        p {
            font-size: medium;
        }
    }
    .restaurants {
        padding: 30px 0 60px 0;
    }
    .restaurants__title {
        margin-left: 5%;
        font-size: x-large;
        margin-bottom: 3%;
    }
    .desktop-restaurants {
        display: flex;
        justify-content: space-around;
        figure {
            width: 450px;
            margin-bottom: 10%;
        }
        img {
            height: 300px;
        }
    }
    .footer {
        padding: 3% 0 3% 0;
        h3 {
            margin-left: 5%;
            margin-bottom: 3%;
            font-size: x-large;
        }
        ul {
            margin-left: 5%;
            font-size: larger;
        }
        li {
            margin-bottom: 1%;
        }
        &__icon1 {
            margin-right: 20px;
        }
        &__icon2 {
            margin-right: 20px;
        }
    }
    .menu-header {
        &__title {
            margin: 30px;
        }
        &__image {
            height: 400px;
        }
    }
    .menu {
        &__title {
            justify-content: flex-start;
        }
        &__name {
            padding-right: 5%;
            font-size: xx-large;
        }
    }
    .meals {
        &__part {
            padding-right: 50%;
        }
        &__title {
            margin-right: 94%;
        }
    }
    .about__btn__modif {
        padding: 20px 90px;
        font-weight: bold;
    }
}
@media screen and (min-width: 481px) {
    .functioning {
        h3 {
            margin-left: 5%;
        }
        &__list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__icon {
            margin: auto;
        }
        &__text {
            padding: 5px 10px 5px 5px;
        }
    }
    .restaurants__title {
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .footer__icon1 {
        margin-right: 20px;
        width: 10px;
    }
    .footer__icon2 {
        width: 10px;
    }
}
