@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader_position {
  0% {
    background-position: right;
  }
}
@keyframes slide {
  100% {
    right: 0;
  }
}
@keyframes slide-out {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@keyframes move-up {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -2%;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

h1, .menu__name {
  font-family: "Shrikhand", cursive;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.maps {
  background-color: #eaeaea;
  text-align: center;
  padding: 3% 0 3% 0;
  box-shadow: inset 0px 2px 5px 0px #cfcfcf;
}
@media screen and (min-width: 1020px) {
  .maps {
    background-color: white;
    box-shadow: none;
    margin-right: 5%;
    font-size: x-large;
    padding: 2% 0 2% 0;
  }
}

.maps__input {
  border: none;
  background-color: #eaeaea;
  text-align: center;
  width: 140px;
}
@media screen and (min-width: 1020px) {
  .maps__input {
    background-color: white;
    font-size: large;
    width: 150px;
  }
}

.about__btn {
  border-radius: 30px;
  background-image: linear-gradient(#e571da, #a65ddc);
  padding: 10px 20px;
  color: white;
  box-shadow: 2px 2px 10px #cfcfcf;
  cursor: pointer;
}
.about__btn:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 2px 2px 10px #505050;
}

.menu__order-btn {
  border-radius: 30px;
  background-image: linear-gradient(#e571da, #a65ddc);
  padding: 10px 50px;
  color: white;
  box-shadow: 2px 2px 10px #cfcfcf;
  cursor: pointer;
}
.menu__order-btn:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 2px 2px 10px #505050;
}
@media screen and (min-width: 1020px) {
  .menu__order-btn {
    padding: 20px 90px;
    font-weight: bold;
  }
}

.functioning__part {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px #cfcfcf;
}
@media screen and (min-width: 1020px) {
  .functioning__part {
    padding-right: 3%;
  }
}

.functioning__number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  margin: 0px 10px 0px -10px;
  font-size: xx-small;
}

.functioning__icon {
  margin: 0 20px 0 5px;
  color: #6b6b6b;
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .functioning__icon {
    margin: auto;
  }
}

.functioning__text {
  font-weight: bold;
  font-size: small;
  padding: 5px;
}
@media screen and (min-width: 1020px) {
  .functioning__text {
    font-size: medium;
  }
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .functioning__text {
    padding: 5px 10px 5px 5px;
  }
}

.restaurants__new {
  position: absolute;
  right: 5%;
  background-color: #99E2D0;
  color: #2c9c81;
  margin-top: 5%;
  font-size: x-small;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
}

.meals__card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px #cfcfcf;
  position: relative;
  cursor: pointer;
  transition: padding-right 0.5s ease-in-out;
  overflow: hidden;
}
.meals__card:hover {
  padding-right: 20%;
}

.meals__card-text {
  padding: 10px 0 10px 10px;
  width: 80%;
}
.meals__card-text h4 {
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.meals__card-text p {
  margin: auto;
  padding-top: 5px;
  font-size: smaller;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.meals__card-price {
  margin-bottom: 3%;
  margin-right: 5%;
  font-size: smaller;
  color: #383838;
  font-weight: bold;
}

.meals__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  color: white;
  height: 100%;
  width: 20%;
  right: -100%;
  animation: slide-out 2s both;
}

.meals__card:hover .meals__icon {
  animation: slide 0.5s forwards;
}

.meals__card:hover .check {
  transform: rotate(360deg);
  transition: transform 1s ease-in-out;
}

.restaurants__card {
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 10px #cfcfcf;
}
@media screen and (min-width: 1020px) {
  .restaurants__card {
    width: 450px;
    margin-bottom: 10%;
  }
}

.restaurants__image {
  height: 160px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
@media screen and (min-width: 1020px) {
  .restaurants__image {
    height: 300px;
  }
}

.restaurants__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: black;
  margin-right: 5px;
}
.restaurants__info h4, .restaurants__info p {
  margin: auto;
}

.restaurants__map {
  margin-top: 5px;
  font-size: smaller;
}

.heart:hover {
  animation: fill 0.5s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.main-title, .menu-header h1 {
  text-align: center;
  margin: auto;
}

.menu-header__title {
  display: flex;
  align-items: center;
  margin: 0 30px 0 30px;
}
@media screen and (min-width: 1020px) {
  .menu-header__title {
    margin: 30px;
  }
}
.menu-header__icon {
  color: #6b6b6b;
}
.menu-header__image {
  height: 250px;
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 1020px) {
  .menu-header__image {
    height: 400px;
  }
}

@media screen and (min-width: 1020px) {
  .desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .desktop-header header {
    margin-left: 5%;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 5% 0 5% 0;
}
@media screen and (min-width: 1020px) {
  .footer {
    padding: 3% 0 3% 0;
  }
}
.footer__title {
  margin-left: 10%;
  font-weight: lighter;
  font-size: large;
}
@media screen and (min-width: 1020px) {
  .footer__title {
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: x-large;
  }
}
.footer__list {
  padding: initial;
  margin-left: 10%;
  font-size: smaller;
}
@media screen and (min-width: 1020px) {
  .footer__list {
    margin-left: 5%;
    font-size: larger;
  }
}
.footer__link {
  color: white;
}
.footer__part {
  margin-bottom: 5px;
}
@media screen and (min-width: 1020px) {
  .footer__part {
    margin-bottom: 1%;
  }
}
.footer__icon1 {
  margin-right: 5%;
}
@media screen and (min-width: 1020px) {
  .footer__icon1 {
    margin-right: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .footer__icon1 {
    margin-right: 20px;
    width: 10px;
  }
}
.footer__icon2 {
  margin-right: 3%;
}
@media screen and (min-width: 1020px) {
  .footer__icon2 {
    margin-right: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .footer__icon2 {
    width: 10px;
  }
}

.loader {
  background: white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  font-size: x-large;
  position: fixed;
  z-index: 1;
  top: 0;
  animation: loader 1s ease-in-out 3s forwards;
  pointer-events: none;
}
.loader__text {
  position: absolute;
  top: 40%;
  left: 20%;
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .loader__text {
    top: 35%;
    left: 25%;
  }
}
@media screen and (min-width: 1020px) {
  .loader__text {
    left: 35%;
  }
}
.loader__text span {
  font-family: Shrikhand, sans-serif;
  font-size: xx-large;
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .loader__text span {
    font-size: xxx-large;
  }
}
@media screen and (min-width: 1020px) {
  .loader__text span {
    font-size: xxx-large;
  }
}
.loader__bar {
  width: 45%;
  height: 25px;
  background: linear-gradient(90deg, #9356DC 33%, #FF79DA 50%, #9356DC 66%) white;
  background-size: 300% 100%;
  animation: loader_position 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 25%;
  border-radius: 20px;
  border: 3px solid;
  padding: 15px;
  margin-top: 5%;
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .loader__bar {
    margin-top: auto;
  }
}
@media screen and (min-width: 1020px) {
  .loader__bar {
    width: 35%;
    left: 30%;
  }
}

.about {
  background-color: #f6f6f6;
  padding: 10px 0 60px 0;
}
.about__content {
  text-align: center;
  margin: auto;
  width: 280px;
}
@media screen and (min-width: 1020px) {
  .about__content {
    text-align: inherit;
    padding-left: 5%;
    width: auto;
  }
}
.about h2 {
  font-weight: bold;
}
@media screen and (min-width: 1020px) {
  .about h2 {
    font-size: xx-large;
  }
}
.about p {
  color: #6b6b6b;
  margin-bottom: 40px;
}
@media screen and (min-width: 1020px) {
  .about p {
    font-size: larger;
    padding-bottom: 1%;
  }
}
@media screen and (min-width: 1020px) {
  .about a {
    margin-top: 10px;
    font-size: larger;
  }
}

.functioning {
  margin-bottom: 50px;
}
.functioning h3 {
  margin-left: 30px;
  font-weight: bold;
}
@media screen and (min-width: 1020px) {
  .functioning h3 {
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: x-large;
  }
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .functioning h3 {
    margin-left: 5%;
  }
}
.functioning__list {
  padding-right: 40px;
}
@media screen and (min-width: 1020px) {
  .functioning__list {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .functioning__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 30px 0 30px 0;
}
@media screen and (min-width: 1020px) {
  .restaurants {
    padding: 30px 0 60px 0;
  }
}
.restaurants__title {
  margin-left: 10%;
  font-size: larger;
  font-weight: bold;
}
@media screen and (min-width: 1020px) {
  .restaurants__title {
    margin-left: 5%;
    font-size: x-large;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 481px) and (max-width: 1020px) {
  .restaurants__title {
    margin-left: 5%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 1020px) {
  .desktop-restaurants {
    display: flex;
    justify-content: space-around;
  }
}

.menu {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  position: relative;
  padding: 10px 0 60px 0;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15% 0 5%;
}
@media screen and (min-width: 1020px) {
  .menu__title {
    justify-content: flex-start;
  }
}
.menu__name {
  font-weight: lighter;
}
@media screen and (min-width: 1020px) {
  .menu__name {
    padding-right: 5%;
    font-size: xx-large;
  }
}
.menu__icon {
  font-size: x-large;
}
.menu__btn {
  display: flex;
  justify-content: center;
}

.meals {
  padding: 0 5% 5% 5%;
}
.meals__part {
  margin-bottom: 30px;
}
@media screen and (min-width: 1020px) {
  .meals__part {
    padding-right: 50%;
  }
}
.meals__title {
  padding-bottom: 5px;
  margin-right: 90%;
  cursor: pointer;
  border-bottom: solid 2px #99E2D0;
  margin-bottom: 5%;
  /*&:hover  {
      border-bottom: solid 2px $tertiary;
  }*/
}
@media screen and (min-width: 1020px) {
  .meals__title {
    margin-right: 94%;
  }
}
.meals__title-text {
  color: #383838;
  margin: auto;
  font-weight: 100;
  font-size: inherit;
}

.starters {
  animation: appear 1500ms ease-in-out, move-up 500ms forwards;
}

.main-courses {
  animation: appear 3000ms ease-in-out, move-up 1000ms forwards;
}

.desserts {
  animation: appear 4500ms ease-in-out, move-up 1500ms forwards;
}

/*# sourceMappingURL=style.css.map */
