.meals__card {
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px $shadow;
    position: relative;
    cursor: pointer;
    transition: padding-right 0.5s ease-in-out;
    overflow: hidden;
    &:hover{
        padding-right: 20%;
    }
}
.meals__card-text {
    padding: 10px 0 10px 10px;
    width: 80%;
    h4 {
        margin: auto;
        @include text-hidden
    }
    p  {
       margin: auto; 
       padding-top: 5px;
       font-size: smaller;
       @include text-hidden;
    }
}
.meals__card-price {
    margin-bottom: 3%;
    margin-right: 5%;
    font-size: smaller;
    color: darken($grey,70%);
    font-weight: bold;
    @include desktop {
        margin-bottom: 10px;
    }
}
.meals__icon {
    @include flex-center;
    justify-content: center;
    background-color: $tertiary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    color: white;
    height: 100%;
    width: 20%;
    right: -100%;
    animation: slide-out 2s both;
}
.meals__card:hover .meals__icon {
    animation: slide 0.5s forwards;
}
.meals__card:hover .check {
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}
