
.functioning__part {
        background-color: $light-grey;
        @include flex-center;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 5px 2px $shadow;
        @include desktop  {
            padding-right: 3%;
        }
}
.functioning__number {
        background-color: $primary;
        color: white;
        border-radius: 50%;
        padding: 3px 6px;
        margin: 0px 10px 0px -10px;
        font-size: xx-small;
}
.functioning__icon {
        margin: 0 20px 0 5px;
        color: darken($grey,50%);
        @include tablet {
            margin: auto;
        }
}
.functioning__text {
        font-weight: bold;
        font-size: small;
        padding: 5px;
        @include desktop {
            font-size: medium;
        }
        @include tablet {
            padding: 5px 10px 5px 5px;
        }
}