.heart {
    &:hover{
        animation: fill 0.5s ease-out;
        background: linear-gradient($secondary,$primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}