.meals{
    padding: 0 5% 5% 5%;
    &__part {
        margin-bottom: 30px;
        @include desktop {
            padding-right: 50%;
        }
    }
    &__title {
        padding-bottom: 5px;
        margin-right: 90%;
        cursor: pointer;
        &:hover {
            border-bottom: solid 2px $tertiary;
        }
        @include desktop {
            margin-right: 94%;
        }
    }
    &__title-text {
        color: darken($grey,70%);
        margin: auto;
        font-weight: 100;
        font-size: inherit;
    }
}
.starters {
    animation: appear 1500ms ease-in-out;
}
.main-courses {
    animation: appear 3000ms ease-in-out;
}
.desserts {
    animation: appear 4500ms ease-in-out;
}