@keyframes fill {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes appear {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader_position {
  0% {background-position: right}
}
@keyframes slide {
  100% { right: 0;}
}
@keyframes slide-out 
 {
  0% { right:0;}
  100% {right: -100%;}
}
@keyframes move-up {
  0% {margin-top: 0%;}
  100% {margin-top: -2%;}
}